body {
  padding:0;
  margin:0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  background-color: #ffffff;
  min-width: 1200px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin:-1px;
  border:0;
  padding:0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a {
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
}
fieldset {
  border: 0;
}
.main-navigation ul,
ul.features-list,
.reasons ul,
.footer-social ul,
.suitable-hotels ul {
  list-style: none;
  padding:0;
  margin:0;
}
.container {
  width: 1056px;
  margin: 0 auto;
  background-color: #ffffff;
}
header.header {
  width: 1200px;
  min-height: 55px;
  background-color: #ffffff;
}
.main-navigation {
  display: flex;
  padding: 15px 0px;
  position: relative;
  min-height: 20px;
  justify-content: space-between;
  background-color: #ffffff;
  z-index: 1;
}
  .main-navigation ul{
  width: 338px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-navigation ul:last-of-type{
width: 328px;
}
.header-logo {
  position: absolute;
  top:0;
  left: 460px;
  width: 138px;
  height: 70px;
  background-color: transparent;
}
.main-navigation a:hover {
   color: #81b3d2;
}
.main-navigation a:active {
   color: rgba(0, 0, 0, 0.3);
}
.main-navigation-hotels {
   color: #766357;
}
.main{
  outline: 2px solid blue;
}
.crop {
  width: 1200px;
  height: 510px;
  margin: 0 0 60px;
}
.main-photo {
  margin: -60px 0 -210px;
}
div.text-block {
  width: 1200px;
  text-align: center;
}
h2.text-block {
  outline: 2px solid yellow;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  width: 440px;
  min-height: 45px;
  margin: 0 380px 40px;
  text-align: center;
}
p.text-block {
  outline: 2px solid red;
  font-size: 14px;
  line-height: 26px;
  width: 490px;
  min-height: 15px;
  margin: 0 auto 60px;
  text-align: center;
}
.reasons-list{
  outline: 2px solid grey;
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.features-list {
  outline: 2px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.features-list h3 {
  font-size: 21px;
  line-height: 21px;
}
.features-list li {
    outline: 2px solid yellow;
  width: 260px;
  min-height: 210px;
  text-align: center;
  padding: 60px 70px;
}
.reasons-item {
  outline: 2px solid yellow;
  padding: 0;
  margin:0;
  font-size: 14px;
  line-height: 21px;
  background-color: #eeeeee;
  width: 400px;
  min-height: 257px;
}
.reasons-item img{
  margin: 0;
  padding: 0;
  min-height: 256px;
  width: 800px;
}
.reasons-item h3 {
  font-size: 21px;
  font-weight: bold;
}
li.reasons-item:nth-child(2),
li.reasons-item:nth-child(3) {
  display: flex;
  width: 1200px;
  color: #ffffff;
  background-color: #81b3d2;
  align-items: center;
}
li.reasons-item:nth-child(2){
  order: -1;
}
.reasons-wrapper {
  width: 280px;
  min-height: 145px;
  margin: 0 auto;
  text-align: center;
}
section.booking {
  width: 1200px;
  min-height: 765px;
  margin:0;
  padding:0;
}
.booking b {
  display: block;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  width: 300px;
  min-height: 36px;
  margin: 55px auto 20px;
}
.booking p {
  display: block;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  width: 440px;
  margin: 0 auto 50px;
}
.booking img {
  width:1200px;
  height: 593px;
  margin-bottom: -120px;
  z-index: -1;
}
.btn {
  font-family: inherit;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.index-search-btn {
  display: block;
  color: #ffffff;
  background-color: #766357;
  border:0;
  width: 570px;
  height: 90px;
  margin: 50px auto 0;
}
.index-search-btn:hover {
  color: #ffffff;
  background-color: #604e43;
}
.index-search-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
section.hotels-searching {
  display: none;
}
.hotels-searching-form label,
.hotels-searching-form input[type="text"] {
  font-family: inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
}
.hotels-searching-form input[type="text"] {
  background-color: #f2f2f2;
}
.hotels-searching-form input[type="text"]:hover {
  background-color: #ebebeb;
}
.hotels-searching-form input[type="text"]:active {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}
.index-form-btn {
  color: #ffffff;
  background-color: #81b3d2;
  width: 460px;
  height: 60px;
  border: 0;
}
.index-form-btn:hover {
  background-color: #669ec0;
}
.index-form-btn:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}
.footer {
  margin:0;
  width: 1200px;
  min-height: 50px;
  padding: 35px 0 35px;
  background-color: rgba(255, 255, 255, 0.5);
  outline: 2px solid red;
  text-align: center;
}
div.footer-wrapper {
  width: 970px;
  height: 50px;
  margin: 0 100px 0 130px;
  display: flex;
  align-items: center;
  outline: 2px solid yellow;
}
.footer-hashtag {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  width: 140px;
  min-height: 20px;
  margin-right: 255px;
  outline: 2px solid red;
}
.footer-social {
  width: 150px;
  min-height: 50px;
  outline: 2px solid red;
  }
.footer-social ul {
    margin: 0;
    display: flex;
    align-items: center;
  }
.footer-copyright {
  font-size: 14px;
  line-height: 26px;
  width: 200px;
  min-height: 45px;
  outline: 2px solid red;
  margin-left: auto;

}
.inner-page {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
}
.hotels-selection legend,
.hotels-selection p {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}
section.hotels-selection  {
  color: #ffffff;
  background-color: #424c52;
  background-image: url("../img/hotels-background.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 1056px;
  padding: 30px 72px;
  min-height: 160px;
 outline: 2px solid red;
}
.hotels-selection form {
  margin:0;
  padding:0;
  display: flex;
  align-items: flex-start;
  outline: 2px solid red;
}
fieldset.selection-features {
  width:145px;
  min-height:160px;
  padding:0;
  margin:0;
  margin-right:100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  outline: 2px solid yellow;
}
fieldset.selection-type {
  width:145px;
  min-height:160px;
  padding:0;
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  outline: 2px solid yellow;
}
div.price-column {
  width:320px;
  min-height:160px;
  margin-left:auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  outline: 2px solid yellow;
}
.hotels-form-btn {
  color: #ffffff;
  background-color: transparent;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  border: 2px solid #ffffff;
  width: 135px;
  height: 35px;
}
.hotels-form-btn:hover {
  color: #000000;
  background-color: #ffffff;
}
section.suitable-hotels {
  width: 1200px;
  outline: 2px solid grey;
}
ul.hotels-list {
  margin:0;
  padding:0;
  outline: 2px solid yellow;
}
li.hotels-item {
  min-height: 30px;
  padding: 30px 73px;
  display: flex;
  outline: 2px solid red;
}
div.hotels-parameters {
  width: 260px;
  min-height: 90px;
}
.hotels-item>img {
  width: 135px;
  height: 90px;
  margin-right: 32px;
  order:-1;
}
.hotels-item>p {
  width: 113px;
  min-height: 30px;
  margin-left: auto;
  align-self: flex-end;
}
.sorting {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #81b3d2;
}
.sorting:hover {
  color: #81b3d2;
}
.sorting:active {
  color: #000000;
  border: none;
}
.sorting.price {
  color: #81b3d2;
  border: none;
}
.suitable-hotels strong {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.suitable-hotels h3 {
  font-size: 12px;
  line-height: 18px;
}
.hotels-item h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
a.hotels-name:hover{
  color: #81b3d2;
}
a.hotels-name:active{
  color: rgba(0, 0, 0, 0.3);
}
p.hotels-rating {
  color: #666666;
  background-color: #f2f2f2;
}
a.hotels-description,
a.hotels-booking {
  padding: 5px 15px;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}
a.hotels-description {
  background-color: #81b3d2;
}
a.hotels-description:hover {
  background-color: #669ec0;
}
a.hotels-description:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
a.hotels-booking {
  background-color: #766357;
}
a.hotels-booking:hover {
  background-color: #604e43;
}
a.hotels-booking:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}
